/*
	ESN official colors :
	blue: rgb(39, 171, 226) / #27ABE2
	darkblue: rgb(45, 53, 145)
	green: rgb(122, 192, 67) / #7AC043
	orange: rgb(243, 123, 32) / #F37B20
	pink: rgb(235, 10, 141) / #EB0A8D
*/

* {
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;

	user-select: none;
	cursor: default;
	outline: none;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

input {
	padding: 5px;
	margin-right: 17px;
	height: 38px;

	cursor: text;
}
button {
	border: 5px solid white;
	color: white;
	background-color: lightgray;

	font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 2px;
}

button:hover {
	cursor: pointer;
	background-color: white;
	color: gray;
	border-color: gray;
}


#main_wrapper {
	position: fixed;
	left: 70px;
	right: 0;
	top: 0;
	bottom: 0;

	overflow: auto;
	background-color: #e0e0e0;
	transform: translateZ(0);

	z-index: 0;
}

#main_wrapper:hover {
	cursor: default;
}

/*
	Side menu containing all items
*/
#side_menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 70px;

	background-color: rgb(45, 53, 145);
}

#side_menu::-webkit-scrollbar {
	display: none;
}

.scroll_btn {
	opacity: 0;

	color: darkblue;
	border: 3px solid darkblue;
	background-color: rgb(75, 83, 175);

	padding: 1px;
	font-weight: bold;
	font-size: 1.3em;

	margin-left: 10px;
	width: 50px;
	height: 30px;

	position: fixed;
	bottom: -3px;
}

.scroll_btn:hover {
	color: darkblue;
	border: 3px solid darkblue;
	background-color: rgb(95, 103, 195);
}

.scroll_btn_hover {
	position: fixed;
	left: 0;
	height: 30px;
	width: 70px;
	bottom: -3px;
}
#btn_up_hover:hover #btn_up {
	opacity: 1;
}
#btn_down_hover:hover #btn_down {
	opacity: 1;
}



.section {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 10px;

	/*background-color: rgb(121, 187, 255);*/
	border-radius: 10px;
	list-style: none;


	/*background-image: url('../img/sections/star.png');*/

	opacity: 1;
	animation-name: bounceIn;
	animation-duration: 450ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/new_section_loading.gif');
	background-color: rgb(121, 187, 255);
}

.section:hover {
	background-color: lightblue;
	cursor: pointer;
	transform: scale(0.9);
}

/*
	c/c
*/

.sectionSettings {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 10px;

	background-color: lightblue;
	border-radius: 10px;
	list-style: none;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	background-image: url('../img/sections/star.png');
}

.sectionSettings div {
	display: block;

	background-color: rgb(45, 53, 145);

/*
	background: -webkit-linear-gradient(rgb(122, 192, 67), rgb(45, 53, 145));
	background:    -moz-linear-gradient(rgb(122, 192, 67), rgb(45, 53, 145));
	background:         linear-gradient(rgb(122, 192, 67), rgb(45, 53, 145));
*/
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	white-space: nowrap;

	position: absolute;
	z-index: 3;

	top: 12px;
    left: 130%;
}

.sectionSettings:hover {
	cursor: pointer;
}



.section div {
	display: none;
	background-color: rgb(235, 10, 141);
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	white-space: nowrap;

	position: absolute;
	z-index: 3;

	top: 12px;
    left: 110%;
}

.section:hover div {
	display: block;
	transform: none;
}

.tutorialSectionFocus {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 72px;
}


.subscribe {
	background-color: #c0c0c0;;
	background-image: url('../img/plus.png');
	background-size: 100%;
	color: white;

	width: 40px;
	height: 40px;
	margin: 20px 15px 15px 15px;
}

#home_btn {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 10px;

	background-color: rgb(81, 219, 255);
	border-radius: 10px;
	list-style: none;


	background-image: url('../img/sections/logo.png');
	background-size: cover;
}

#home_btn div {
	display: none;
	background-color: rgb(235, 10, 141);
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	white-space: nowrap;

	position: absolute;
	z-index: 3;

	top: 12px;
    left: 110%;
	background-color: rgb(122, 192, 67);
}

#home_btn:hover {
	background-color: lightblue;
	cursor: pointer;
	transform: scale(0.9);
}
#home_btn:hover div {
	display: block;
	transform: none;
}


.sectionLoading {
	animation: loading 2s infinite;
	animation-name: loading !important;
}

@keyframes loading {
    0%   {background-color: rgb(121, 187, 255);}
	25%	 {background-color: rgb(122, 192, 67);}
	50%	 {background-color: rgb(243, 123, 32);}
    75% {background-color: rgb(235, 10, 141);}
	100% {background-color: rgb(121, 187, 255);}
}

.subscribe:hover {
	background-color: lightgray;
}

.subscribe div {
	top: 6px;
	background-color: gray;
}

.new_item {
	background-color: #fa3e3e;
	border-radius: 2px;
	color: white;
	font-weight: bold;

	padding: 1px 3px;
	font-size: 13px;

	position: absolute;
	bottom: -3px;
	right: -3px;
}

.delete {
	background-color: #fa3e3e;
	border-radius: 2px;
	color: white;
	font-weight: bold;

	padding: 1px 3px;
	font-size: 14px;

	position: absolute;
	top: -3px;
	left: -3px;

	opacity: 0;
	visibility: hidden;
}

.mute {
	border-radius: 2px;
	background: #4285f4 url('../img/speaker.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

	width: 17px;
	height: 17px;

	position: absolute;
	top: -3px;
	right: -3px;

	opacity: 0;
	visibility: hidden;
}

.muteActivated {
	background: #4285f4 url('../img/muted.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.reset {
	border-radius: 2px;
	background: #ff9b00 url('../img/reset.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	width: 17px;
	height: 17px;

	position: absolute;
	bottom: -3px;
	left: -3px;

	opacity: 0;
	visibility: hidden;
}

.sectionSettings .reset, .sectionSettings .delete, .sectionSettings .mute, .sectionSettings .muteActivated {
	visibility: visible;
	opacity: 1;
}


hr {
	border: 1px solid #e0e0e0;
}


.authors {
	color: #a0a0a0;
	position: absolute;
    bottom: 0;
	left: 0;
	margin: 20px;
}

#home_message {
	padding: 20px;
	margin: 0;
}

.img_center {
	width: 100%;
	position: relative;
	/*left: 50%;
	margin-left: -200px
	margin-top: -33px;*/
}
.img_center:hover {
	cursor: pointer;
}

#loading {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 2;
	background-color: #e0e0e0;
	background-image: url(../img/space.png);
	background-size: cover;

	transition: opacity 0.5s;
}

#loading img {
	position: absolute;

	left: 50%;
	margin-left: -90px;
	top: 50%;
	margin-top: -90px;

	width: 180px;
}

#loading_logo {
	animation: rotation 2s infinite;
	width: 100px !important;
    margin: -50px -50px !important;
}

.ldBar-label {
	display: none;
}

@keyframes rotation {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}
}

h1 {
	margin-bottom: 0;
}

.home {

	/*padding: 20px;*/
	position: absolute;
	bottom: 20px;
	top: 20px;
	left: 20px;
	right: 20px;

	background-color: white;
	border: 1px solid #c0c0c0;
	transition: none;
	/*box-shadow: 0px 0px 50px -10px black;*/

	overflow: hidden;
}

.homeWrapper {
	background-color: #e0e0e0;

	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 00px;
	opacity: 1;
}

#version {
	position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgrey;
    font-size: 0.9em;
    color: lightgray;
    padding: 0 10;
}

#lang-select {
	position:absolute;
	top:10px;
	left:10px;
}

.frame {
	position: absolute;
	/*display: none;*/
	/*visibility: hidden;*/
	z-index: 0;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	border-width: 0;
}

.frame-show {
	z-index: 1;
	opacity: 1;
	/*visibility: visible;*/
	/*display: show;*/
}


#new_site {
	background-color: #e0e0e0;
	border: 1px solid gray;
	border-radius: 5px;

	position: relative;
	margin: auto;
	margin-top: 20%;

	width: 340px;
	height: auto;
	display: none;

	padding: 20px;
	z-index: 2;


	opacity: 0;
	animation-name: bounceIn;
	animation-duration: 450ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#subscription_text {
	margin-bottom: 0;
	position: relative;
}

@keyframes bounceIn {
	0%{
		opacity: 0;
		transform: scale(0.3) translate3d(0,0,0);
	}
	50%{
		opacity: 0.9;
		transform: scale(1);
	}
	80%{
		opacity: 1;
		transform: scale(0.89);
	}
	100%{
		opacity: 1;
		transform: scale(1) translate3d(0,0,0);
	}
}

@keyframes bounceOut {
	0%{
		opacity: 1;
		transform: scale(1) translate3d(0,0,0);
	}
	50%{
		opacity: 0.9;
		transform: scale(0.3);
	}
	80%{
		opacity: 0.3;
		transform: scale(0.1);
	}
	100%{
		opacity: 0;
		transform: scale(0.01) translate3d(0,0,0);
	}
}

@keyframes bounceWarning {
	0%{
		opacity: 1;
		transform: translate3d(-10px,0,0);
	}
	25%{
		opacity: 1;
		transform: translate3d(10px,0,0);
	}
	50%{
		opacity: 1;
		transform: translate3d(-10px,0,0);
	}
	75%{
		opacity: 1;
		transform: translate3d(10px,0,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);

		border: 2px solid red;
		background-color: #ffcccc;
	}
}
